*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box{
    margin:20px 100px;
}

ul{
    background-color: black;
    color: white;
    padding: 20px;
}

img{
    width: 150px;
    height: 200px;
}
